.col-center{
    margin: 0px auto;
    width: 500px;
    max-width: 100%;
}

.max-content{
    width: -moz-max-content;
    width: max-content;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-label{
    background-color: powderblue !important;
}

.h4-color{
    color: revert;
}

