.col-center{
    margin: 0px auto;
    width: 500px;
    max-width: 100%;
}

.max-content{
    width: max-content;
}

.display-inline-grid{
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.background-label{
    background-color: powderblue !important;
}

.h4-color{
    color: revert;
}

.margin-top{
    margin-top: 12px;
}

.display-block{
    display: block !important;
}
