.label-sidebar{
    font-weight: bold !important;
    font-size: 20px !important;
    margin-top: 14px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height:24px !important;
    padding:8px 14px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    top:-8px !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    height:24px !important;
    padding:8px 14px !important;
}
